html, body {
    height: 100%;
    font-family: sans-serif;
}

#title {
    margin: 25px;
    color: #C3CACD;
}

#rooms {
    margin-left: 25px;
    margin-bottom: 15px;
    color: #90979F;
}

#roomContainer {
    position: relative;
    width: 250px;
    min-height: 100%;
    background-color: #19323C;
    overflow: auto;
    float: left;
}

#chatContainer {
    width: 100%;
    min-height: 100%;
    background-color: #F3F7F0;
}

#createRoomButton {
    position: absolute;
    background-color: #A93F55;
    height: 50px;
    width: 100%;
    color: #E5C5CC;
    bottom: 0px;
    border: none;
    font-size: 1.05em;
}
