html, body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

#roomContainer {
    width: 250px;
    background-color: #d6d6d6;
    float: left;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-bottom-right-radius: 15px;
}

#titleContainer {
    background: #ffffff;
    width: 210px;
    height: 115px;
    margin: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 50px 30px;
    box-shadow: 10px 10px 5px #888888;
}

#title {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    color: #636466;
    margin: 0 auto;
}

#roomsHeading {
    border-bottom: 3px solid #00bbdd;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top: 40px;
}

#rooms {
    position: absolute;
    left: 0;
    width: 100%;
    max-height: 80%;
    padding-bottom: 210px;
    overflow-y: scroll;
}

#rooms::-webkit-scrollbar {
    display: none;
}

.room {
    margin-left: 25px;
    margin-bottom: 15px;
    color: #333333;
    font-size: 1.2em;
}

#rooms:hover {
    cursor: pointer;
}

#createRoomButton {
    position: absolute;
    background: #00bbdd;
    height: 50px;
    width: 100%;
    color: #f8fdfe;
    bottom: 0px;
    border: none;
    font-size: 1.20em;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#chatContainer {
    position: relative;
    height: 100%;
    overflow: auto;
    background: #FFFFFF;
}

#defaultView {
    height: 100%;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#defaultView h3 {
    margin: 0 auto;
    color: #636466;
    font-size: 1.5em;
}

#chatRoomTitle {
    font-size: -1em;
    width: 100%;
    min-width: 400px;
    background: #777777;
    color: #fdfdfd;
    padding: 10px 0 15px 25px;
    float: left;
}

#messagesContainer {
    width: inherit;
    padding-top: 25px;
    min-width: 400px;
    max-height: 80%;
    padding-bottom: 125px;
    overflow-y: scroll;
}

#messagesContainer::-webkit-scrollbar {
    display: none;
}

.messageBoxEven {
    width: 100%;
    padding: 10px;
    min-width: 400px;
}

.messageBoxOdd {
    width: 100%;
    padding: 10px;
    background: #c0e2f1;
    border-radius: 20px;
    min-width: 400px;
}

.name {
    padding-left: 15px;
}

.message {
    padding-left: 15px;
    width: 80%;
}

.timestamp {
    float: right;
    margin-top: -45px;
}
textarea {
    margin: 0;
    padding: 0;
}

#writeMessageContainer {
    position: absolute;
    width: 100%;
    min-width: 400px;
    bottom: 0px;
}

#writeMessageTextArea {
    padding: 20px;
    padding-right: 120px;
    resize: none;
    height: 120px;
    width: 100%;
}

#sendMessageButton {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #00bbdd;
    color: #f8fdfe;
    border: none;
    padding: 15px;
    font-size: 1.20em;
    border-radius: 30px;
}
